<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="container-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `container-padre`
     * Contenedor padre para los componentes
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContainerPadre extends Polymer.Element {
      static get is() { return 'container-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'container-padre'
          }
        };
      }
    }

    window.customElements.define(ContainerPadre.is, ContainerPadre);
  </script>
</dom-module>
