<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../to-do-list/to-do-list.html">
<link rel="import" href="../transaction-table/transaction-table.html">
<link rel="import" href="../info-table/info-table.html">
<link rel="import" href="../success-card/success-card.html">

<dom-module id="container-padre">
  <template>
    <style>
      /* :host {
        display: block;
      } */
      .arriba {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around;
      }

      .abajo {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around;
      }

      info-table,
      transaction-table,
      to-do-list,
      success-card {
        width: 100%;
      }
      
    </style>
    
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <header class="tabs">
        <paper-tabs selected="0">
            <paper-tab>ITEM ONE</paper-tab>
            <paper-tab>ITEM TWO</paper-tab>
            <paper-tab>ITEM THREE</paper-tab>
            <paper-tab>ITEM FOUR</paper-tab>
          </paper-tabs>
      <!--tabs-->
    </header>
    <h2>[[title]]</h2>
    <section>
      <article class="arriba">
        <transaction-table></transaction-table>
        <info-table></info-table>
      </article>
      <article class="abajo">
        <template is="dom-if" if="[[formVisible]]">
          <to-do-list></to-do-list>
        </template>
        <template is="dom-if" if="[[!formVisible]]">
          <success-card></success-card>
        </template>
      </article>
    </section>
  </template>

  <script>
    /**
     * `container-padre`
     * Contenedor padre para los componentes
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContainerPadre extends Polymer.Element {
      static get is() {
        return 'container-padre';
      }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Agregar Alumno'
          },
          formVisible: {
            type: Boolean,
            value: true
          }
        };
      }
    }

    window.customElements.define(ContainerPadre.is, ContainerPadre);
  </script>
</dom-module>